<!DOCTYPE html>
<html lang="en" ng-App="myApp">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coin demo</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.css">

    <!-- Custom styles for this template -->
    <link href="css/new-age.css" rel="stylesheet">
    <link href="extra.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.js"></script>
  </head>

  <body id="page-top" ng-controller="coinCtrl">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Coin demo</a>
      </div>
    </nav>

    
    <section class="download text-center" id="download" style="background-color: #f9f7f7;min-height: calc(100% - 68px);">
        <div class="container">
          </div>
            <div class="row">
                <div class="col-md-12"><h3 style="display: inline;">Current Balances</h3></div>
                <div></div>
              <div class="col-md-12">
                  <table ng-table="vm.tableParams" class="table" show-filter="true">
                    <tr class="title">
                      <td>Name</td>
                      <td>Address</td>
                      <td>Balance</td>
                      <td>Action</td>
                    </tr>
                    <tr ng-class="" ng-repeat="address in addresses">
                        <td>{{address.name}}</td>
                        <td>{{address.address}}</td>
                        <td>{{address.balance}}</td>
                        <td>
                        <div ng-if="address.address.toUpperCase() == account.toUpperCase() && account.toUpperCase() == minter.toUpperCase()">
                            <input type="text" class="form-control" ng-model="mint.amount" placeholder="Amount">
                            <a class="btn btn-info" ng-click="mint()">Mint</a>
                          </div>
                          <div ng-if="address.address.toUpperCase() != account.toUpperCase()">
                            <input type="text" class="form-control" ng-model="transferAmounts[address.address]" placeholder="Amount">
                            <a class="btn btn-warning" ng-click="transfer(address.address)">Transfer</a>
                          </div>
                        </td>

                    </tr>
                  </table>
            </div>
              
          </div>
        </div>
    </section>
    <footer>
      <div class="container">
        <p>&copy; Coin Demo</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>
    <script>
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    })    
    </script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/portis/dist/bundle.min.js"> </script>
      <script src="main.js"></script>
  </body>


</html>
